<button
  class="hover:text-secondary focus:outline-none flex items-center text-2xl text-gray-500"
  type="button"
  [matMenuTriggerFor]="notificationMenu"
>
  <i class="icon-notification"></i>
</button>

<mat-menu
  #notificationMenu="matMenu"
  xPosition="before"
  class="text-roboto-condensed !max-w-72 sm:!max-w-96 mt-4 ml-6 sm:ml-0 notification-container"
>
  <div class="w-72 sm:w-96 flex flex-col">

    <div
      class="flex justify-between gap-4 border-b border-gray-300 px-4 py-2.5"
      (click)="$event.stopPropagation()"
    >
      <span class="text-lg font-semibold cursor-default select-none">Notifications</span>
      <button
        *ngIf="!hasLoadingError"
        class="text-primary hover:text-secondary disabled:text-sky-400 disabled:cursor-not-allowed flex items-center gap-2"
        type="button"
        [disabled]="isProcessing"
        (click)="onBulkChangeStatus()"
      >
        <i *ngIf="isProcessing" class="icon-spinner spinning"></i>
        {{ isProcessing ? 'Processing' : 'Mark all as read' }}
      </button>
    </div>

    <div
      *ngIf="!hasLoadingError; else loadingError"
      class="h-96 max-h-96 min-h-96 overflow-y-auto"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="150"
      [scrollWindow]="false"
      (scrolled)="onScrollDown()"
    >
      <app-notification-item
        *ngFor="let notification of notifications$ | async"
        [notification]="notification"
        [updateNotificationSubject]="updateNotificationSubject"
        [removeNotificationSubject]="removeNotificationSubject"
      ></app-notification-item>
    </div>

    <ng-template #loadingError>
      <div class="h-96 max-h-96 min-h-96 flex flex-col items-center justify-center gap-4 text-gray-600">
        <i class="icon-dissatified text-7xl"></i>
        <span class="text-lg">Failed when loading notifications</span>
      </div>
    </ng-template>
  </div>
</mat-menu>
