<div
  class="brand mx-auto rounded-md rounded-bl-none rounded-br-none shadow-md"
  [style.background]="brand.background_color"
>
  <header class="relative">
    <div
      class="header-background rounded-tl-md rounded-tr-md"
      [style.background]="brand.header_color"
    ></div>

    <div class="header-content relative z-10 p-4 space-y-3 text-white bg-transparent">
      <h1
        class="text-3xl font-semibold text-center select-none"
        [style.color]="brand.title_color"
      >
        {{ brand.title }}
      </h1>
      <img
        class="min-h-44 min-w-44 aspect-square mx-auto border-4 rounded-full"
        [style]="{
          'border-color': brand.background_color
        }"
        [src]="brand.logo"
        [alt]="brand.title + '\'s logo'"
        fetchPriority="high"
        width="176"
        height="176"
        draggable="false"
        loading="eager"
      >
      <p
        class="text-center text-blue-800"
        [style.color]="brand.description_color"
      >
        {{ brand.description }}
      </p>
      <app-social-platforms
        *ngIf="brand.social_platforms"
        [socialPlatforms]="brand.social_platforms"
      ></app-social-platforms>
    </div>
  </header>

  <main class="p-4 space-y-5">
    <app-block
      *ngFor="let block of brand.blocks"
      [block]="block"
      [blockShape]="brand.block_shape"
      [blockShadow]="brand.block_shadow"
      [descriptionColor]="brand.description_color"
      [blockColor]="brand.block_color"
      [blockTextColor]="brand.block_text_color"
    ></app-block>
  </main>

  <footer class="p-4">
    <p class="font-semibold text-center text-gray-800 select-none">Powered by Grassway</p>
  </footer>
</div>
