<div class="!flex items-center gap-2 !pt-4" mat-dialog-title>
  <h6 class="text-poetsen-one text-2xl">Edit Link</h6>
  <button
    class="hover:text-gray-800 flex items-center ml-auto text-gray-500"
    tabindex="-1"
    mat-dialog-close>
    <i class="icon-close"></i>
  </button>
</div>

<form
  [formGroup]="editForm"
  class="space-y-2"
  mat-dialog-content
  (submit)="onSubmit()"
>
  <div class="sm:flex-row sm:items-center flex flex-col gap-4">
    <div class="flex flex-col flex-grow gap-2">
      <label class="text-gray-600" for="title">Title:<small class="text-red-500">*</small></label>
      <mat-form-field
        class="w-full"
        color="accent"
        appearance="outline"
      >
        <input
          id="title"
          formControlName="title"
          type="text"
          matInput
          placeholder="Link's title"
        >
        <mat-error
          class="text-jost text-sm"
          *ngFor="let error of getObjectKeys(editForm.get('title')?.errors)"
        >
          {{ titleValidationMessages[error] }}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-slide-toggle formControlName="isActive" class="sm:mb-0 mb-4" [color]="'accent'">
      {{ editForm.get("isActive")?.value ? "Active" : "Inactive" }}
    </mat-slide-toggle>
  </div>

  <div class="flex flex-col gap-2">
    <label class="text-gray-600" for="description">Description:</label>
    <mat-form-field
      class="w-full"
      color="accent"
      appearance="outline"
    >
      <textarea
        formControlName="description"
        matInput
        placeholder="Link's description"
        rows="2"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="sm:flex-row flex flex-col gap-4">
    <div class="sm:w-1/2 flex flex-col gap-2">
      <label class="text-gray-600" for="backHalf">Custom back-half:</label>
      <mat-form-field appearance="outline" color="accent">
        <input
          id="backHalf"
          formControlName="customBackHalf"
          matInput
          placeholder="Set a custom back-half"
          type="text"
        >
        <mat-error
          class="text-jost text-sm"
          *ngFor="let error of getObjectKeys(editForm.get('customBackHalf')?.errors)"
        >
          {{ customBackHalfValidationMessages[error] }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="sm:w-1/2 flex flex-col gap-2">
      <ng-container *ngIf="!data.url.use_password; else changePassword">
        <label class="text-gray-600" for="passwrod">Password:</label>
      </ng-container>

      <ng-template #changePassword>
        <mat-slide-toggle formControlName="editPassword" class="sm:mb-0 mb-4 text-gray-600" [color]="'accent'">
          Change password
        </mat-slide-toggle>
      </ng-template>

      <mat-form-field appearance="outline" color="accent">
        <input
          id="password"
          formControlName="password"
          matInput
          [placeholder]="data.url.use_password ? 'Change password' : 'Set password'"
          [type]="hidePassword ? 'password' : 'text'"
        >
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
          type="button"
        >
          <mat-icon class="text-lg">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="!data.brand" class="flex flex-col gap-2">
    <label for="">Tags:</label>
    <mat-form-field appearance="outline" color="accent">
      <mat-chip-grid #tagChipGrid>
        <mat-chip-row
          *ngFor="let tag of selectedTags"
          (removed)="removeSelectedTag(tag)"
          class="!bg-white border border-gray-300"
        >
          <app-option-tag [tag]="tag"></app-option-tag>
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input
        #tagInput
        placeholder="Select tag"
        formControlName="tags"
        [matChipInputFor]="tagChipGrid"
        [matAutocomplete]="tagAuto"
      />
      <mat-autocomplete #tagAuto="matAutocomplete" (optionSelected)="selectTag($event)">
        <mat-option *ngFor="let tag of filteredTags" [value]="tag">
          <app-option-tag [tag]="tag"></app-option-tag>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="flex items-center justify-end gap-4">
    <button
      class="hover:shadow-md hover:text-black px-3 py-2 text-gray-600 border rounded-md"
      type="button"
      mat-dialog-close
    >
      Cancel
    </button>
    <button
      class="bg-secondary hover:bg-secondary/80 disabled:bg-gray-400 flex items-center justify-center gap-2 px-3 py-2 text-white rounded-md shadow-md"
      [class]="{'disabled:bg-sky-400': isProcessing}"
      [disabled]="!editForm.valid || isProcessing"
      type="submit"
    >
      <i *ngIf="isProcessing" class="icon-spinner spinning"></i>
      {{ isProcessing ? "Processing..." : "Update" }}
    </button>
  </div>
</form>
