<div *ngIf="member.user" class="sm:hover:bg-slate-200 bg-slate-50 sm:py-1 flex flex-wrap items-center gap-4 sm:border-none sm:bg-transparent px-4 py-2.5 border border-gray-500 rounded-lg">
  <img
    class="order-1 border border-gray-300 rounded-lg"
    [src]="client + member.user.avatar"
    [alt]="member.user.fullname + '\'s avatar'"
    width="50"
    height="50"
    loading="eager"
    draggable="false"
  >
  <div class="flex flex-col order-2 w-1/4">
    <span class="font-semibold text-gray-600">{{ member.user.fullname }}</span>
    <span class="text-gray-400">{{ member.user.email || member.user.username }}</span>
  </div>
  <span
    *ngIf="member.joined; else invited"
    class="order-3 font-semibold"
    [ngClass]="{
    'text-blue-600': member.role === BrandMemberRole.MEMBER,
    'text-orange-500': member.role === BrandMemberRole.OWNER
  }">
    【{{ member.role.toLowerCase() | titlecase }}】
  </span>
  <ng-template #invited>
    <span
      class="order-3 font-semibold text-gray-600"
      matTooltip="The sent invitation is awaiting acceptance"
      matTooltipPosition="above"
    >
      【Pending】
    </span>
  </ng-template>
  <div class="sm:w-auto basis-3/4 sm:basis-auto sm:order-4 flex-grow order-5">
    <button
      *ngIf="isOwner"
      class="hover:bg-orange-500 hover:shadow-md disabled:bg-sky-400 sm:mx-auto flex items-center gap-2 px-3 py-2 text-white bg-orange-600 rounded shadow"
      type="button"
      [disabled]="isProcessingSubject.asObservable() | async"
      (click)="onTransferOwnership()"
    >
      <i *ngIf="isProcessingSubject.asObservable() | async" class="icon-spinner spinning"></i>
      {{ (isProcessingSubject.asObservable() | async) ? 'Transferring...' : 'Transfer ownership' }}
    </button>
  </div>

  <button
    *ngIf="isOwner"
    class="disabled:text-sky-400 sm:order-5 sm:flex-grow-0 flex items-center justify-end flex-grow order-4 text-xl text-red-600"
    type="button"
    [disabled]="isProcessingSubject.asObservable() | async"
    (click)="onRemoveMember()"
  >
    <i [ngClass]="{
      'icon-spinner spinning': isProcessingSubject.asObservable() | async,
      'icon-delete': !(isProcessingSubject.asObservable() | async)
    }"></i>
  </button>
</div>
