<div class="flex flex-col items-center justify-center gap-8 text-center select-none">

  <ng-container *ngIf="isLoading; else result">
    <div class="animate-bounce flex items-center justify-center">
      <div class="spinning bg-secondary w-14 h-14 rounded shadow-xl"></div>
    </div>
    <h1 class="text-poetsen-one text-primary text-4xl">Preparing...</h1>
    <p class="animate-pulse flex items-center justify-center gap-2 text-lg text-gray-600">
      <i class="icon-spinner spinning text-xl"></i>
      Please wait, we're setting up your link
    </p>
  </ng-container>

  <ng-template #result>
    <ng-container *ngIf="url && !url.use_password && url.is_active">
      <h1 class="text-poetsen-one text-primary text-4xl">Your link is ready!</h1>
      <p>
        You will be automatically redirected to
        <span class="text-primary font-semibold break-all">{{ url.origin_url | truncate:50 }}</span>
      </p>
      <button
        class="px-4 py-2.5 bg-secondary rounded-md text-white hover:bg-secondary/80 hover:shadow-md border border-gray-200 cursor-pointer animate-pulse"
        (click)="onClickRedirectUrl()"
        type="button"
      >
        {{ countdownTime ? 'Go to destination in ' + countdownTime + 's' : 'Redirecting...' }}
      </button>
    </ng-container>

    <ng-container *ngIf="url && url.use_password && url.is_active">
      <i class="icon-key text-7xl animate-seesaw text-yellow-500"></i>
      <h1 class="text-poetsen-one text-primary text-4xl">Your link is ready!</h1>
      <p class="text-lg text-gray-500">This link is under protection and need password to access</p>
      <div class="flex items-center gap-2 bg-white border border-gray-300 rounded-md">
        <input
          class="pl-4 pr-0  py-2.5 outline-none rounded-tl-md rounded-bl-md"
          [formControl]="passwordControl"
          [type]="hidePassword ? 'password' : 'text'"
          (keydown)="onPressEnter($event)"
        >
        <button
          type="button"
          class="flex items-center"
          (click)="hidePassword = !hidePassword"
        >
          <i
            class="text-gray-500"
            [ngClass]="hidePassword ? 'icon-visibility-off' : 'icon-visibility'"
          ></i>
        </button>
        <button
          type="button"
          class="bg-secondary hover:bg-secondary/80 hover:shadow-md disabled:bg-gray-500 text-white px-4 py-2.5 rounded-tr-md rounded-br-md"
          [disabled]="!passwordControl.valid"
          (click)="onAccessProtectedUrl()"
        >
          Access
        </button>
      </div>
      <p *ngIf="controlError" class="font-semibold text-red-500">{{ controlError }}</p>
    </ng-container>

    <ng-container *ngIf="url && !url.is_active">
      <h1 class="text-poetsen-one text-primary text-4xl">Oh nooo!</h1>
      <p class="text-lg text-gray-600">
        Your link is currently inactive 🥺 Please contact the owner of this link!
      </p>
    </ng-container>

    <ng-container *ngIf="!url">
      <h1 class="text-poetsen-one text-primary text-4xl">Oops!</h1>
      <p class="text-lg text-gray-600">
        Look like your link doesn't exist 💔! Double check it or
        <a class="text-primary hover:text-secondary font-semibold" routerLink="/">create new one</a>
      </p>
    </ng-container>
  </ng-template>

</div>
