// Angular Material
@use "@angular/material" as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent-color: (
  500: #4caf50,
  contrast: (
    500: #ffffff,
  )
);
$my-accent: mat.define-palette($my-accent-color, 500, 500, 500);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    )
  )
);

@include mat.all-component-themes($my-theme);

.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

// Tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "libs/icomoon/style.css";

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}

.text-ubuntu {
  font-family: "Ubuntu", sans-serif !important;
}

.text-rubik {
  font-family: "Rubik", sans-serif !important;
}

.text-poetsen-one {
  font-family: "Poetsen One", sans-serif !important;
}

.text-karla {
  font-family: "Karla", sans-serif !important;
  font-optical-sizing: auto;
}

.text-jost {
  font-family: "Jost", sans-serif !important;
  font-optical-sizing: auto;
}

.text-roboto-condensed {
  font-family: "Roboto Condensed", sans-serif !important;
  font-optical-sizing: auto;
}

.spinning {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
