// Angular Material
@use "@angular/material" as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent-color: (
  100: #4caf50,
  200: #4caf50,
  300: #4caf50,
  400: #4caf50,
  500: #4caf50,
  600: #4caf50,
  700: #4caf50,
  800: #4caf50,
  900: #4caf50,
  contrast: (
    500: white,
  )
);
$my-accent: mat.define-palette($my-accent-color, 500, 500, 500);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    )
  )
);

@include mat.all-component-themes($my-theme);

.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

.mdc-checkbox__checkmark {
  color: white !important;
}

.mdc-checkbox__mixedmark {
  border-color: white !important;
}

// Tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "libs/icomoon/style.css";

/** Scrollbar customization */
/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ddd;
}

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}

.text-ubuntu {
  font-family: "Ubuntu", sans-serif !important;
}

.text-rubik {
  font-family: "Rubik", sans-serif !important;
}

.text-poetsen-one {
  font-family: "Poetsen One", sans-serif !important;
}

.text-karla {
  font-family: "Karla", sans-serif !important;
  font-optical-sizing: auto;
}

.text-jost {
  font-family: "Jost", sans-serif !important;
  font-optical-sizing: auto;
}

.text-roboto-condensed {
  font-family: "Roboto Condensed", sans-serif !important;
  font-optical-sizing: auto;
}

.text-arvo {
  font-family: "Arvo", serif !important;
  font-optical-sizing: auto;
}

.text-dosis {
  font-family: "Dosis", sans-serif !important;
  font-optical-sizing: auto;
}

.text-lato {
  font-family: "Lato", sans-serif !important;
  font-optical-sizing: auto;
}

.text-league-spartan {
  font-family: "League Spartan", sans-serif !important;
  font-optical-sizing: auto;
}

.text-nunito {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto;
}

.text-oswald {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto;
}

.text-ubuntu-condensed {
  font-family: "Ubuntu Condensed", sans-serif !important;
  font-optical-sizing: auto;
}

.text-itim {
  font-family: "Itim", sans-serif !important;
  font-optical-sizing: auto;
}

.text-lobster {
  font-family: "Lobster", cursive !important;
  font-optical-sizing: auto;
}

.z-1 {
  z-index: 1;
}

.z-max {
  z-index: 9999;
}

.aspect-rectangle {
  aspect-ratio: 3 / 2;
}

.spinning {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-seesaw {
  animation: seesaw 1.5s ease-in-out infinite;
}

@keyframes seesaw {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}
