<div *ngIf="fetchedStatics" class="my-4 space-y-4">
  <div class="flex items-center gap-4">
    <h1 class="text-poetsen-one text-3xl">View Statics</h1>
    <a
      class="px-4 py-2.5 bg-secondary text-white rounded shadow flex items-center gap-3 sm:gap-1 ml-auto hover:bg-secondary/80 hover:shadow-md"
      [routerLink]="['/u/brands', brandId, 'manage']"
    >
      <i class="icon-chevron-left"></i> Back to Brand
    </a>
  </div>
  <app-overview-table
    [url]="link"
    [brand]="brand"
  ></app-overview-table>

  <hr class="w-11/12 mx-auto border border-gray-300">

  <app-statics-chart [url]="link"></app-statics-chart>
</div>
