<form
  class="space-y-4"
  [formGroup]="settingsForm"
  (submit)="onSubmit()"
>
  <div class="sm:flex-row sm:items-center flex flex-col gap-4">
    <div class="md:w-1/3 sm:w-1/2 flex items-center justify-center w-full">
      <qrcode
        #qrcode
        class="border-2 shadow-md"
        [qrdata]="'https://grassway.hainkone.com'"
        [alt]="'Grassway link'"
        [colorDark]="backgroundColor"
        [colorLight]="foregroundColor"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'H'"
        [imageSrc]="logoUrl"
        [imageHeight]="50"
        [imageWidth]="50"
        [width]="200"
      ></qrcode>
    </div>

    <div class="flex-grow space-y-5">
      <div class="sm:flex-row sm:items-center flex flex-col gap-2">
        <span class="text-gray-500">Background Color:</span>
        <app-input-color-picker
          [control]="settingsForm.controls.backgroundColor"
        ></app-input-color-picker>
      </div>

      <div class="sm:flex-row sm:items-center flex flex-col gap-2">
        <span class="text-gray-500">Foreground Color:</span>
        <app-input-color-picker
          [control]="settingsForm.controls.foregroundColor"
        ></app-input-color-picker>
      </div>

      <div class="lg:text-start space-y-2 text-center">
        <p *ngIf="formError" class="text-red-500">{{ formError }}</p>
        <button
          type="submit"
          class="inline-flex items-center gap-2 px-4 py-2.5 bg-secondary disabled:bg-gray-500 text-white rounded-md shadow border hover:bg-secondary/80 hover:shadow-md"
          [class]="{'disabled:bg-sky-400': isProcessing}"
          [disabled]="settingsForm.invalid || isProcessing"
        >
          <i *ngIf="isProcessing" class="icon-spinner spinning"></i>
          {{ isProcessing ? 'Processing...' : 'Update settings' }}
        </button>
      </div>
    </div>
  </div>
</form>
