<div
  *ngIf="fetchedBrand; else loading"
  class="my-4 space-y-4"
>
  <div class="space-y-1">
    <h1 class="text-poetsen-one text-3xl">
      Brand: <span class="text-primary">{{ (brand$ | async)?.title }}</span>
    </h1>
    <p class="italic text-gray-500">Manage all about your brand!</p>
  </div>
  <div class="flex gap-4">
    <mat-tab-group
      class="flex-grow"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      animationDuration="0ms"
      color="accent"
    >
      <mat-tab label="Links">
        <ng-template matTabContent>
          <app-brand-links-tab></app-brand-links-tab>
        </ng-template>
      </mat-tab>

      <mat-tab label="Build">
        <ng-template matTabContent>
          <app-brand-build-tab></app-brand-build-tab>
        </ng-template>
      </mat-tab>

      <mat-tab label="Design">
        <ng-template matTabContent>
          <app-brand-design-tab></app-brand-design-tab>
        </ng-template>
      </mat-tab>

      <mat-tab label="Analytics">
        Not implement yet
      </mat-tab>
      <mat-tab label="Settings">
        Not implement yet
      </mat-tab>

    </mat-tab-group>

    <iframe
      *ngIf="showLivePreview$ | async"
      class="rounded-xl top-20 xl:block sticky items-start hidden max-w-xs shadow-lg"
      src="http://localhost:4200/m/jost"
      frameborder="0"
    ></iframe>
  </div>
</div>

<ng-template #loading>
  <app-loading-tab [description]="'Loading your Brand...'"></app-loading-tab>
</ng-template>
