<!-- <ng-container
  *ngIf="socialPlatforms.icon_style === socialIconStyle.COLOR"
  [ngTemplateOutlet]="color"
></ng-container>

<ng-template #color>
  <ng-container *ngFor="let platform of SOCIAL_PLATFORMS">
    <a
      *ngIf="platform.destination"
      [href]="platform.destination"
    >
      <img
        [src]="platform.icon"
        [alt]="platform.name + '\'s icon'"
        width="30"
        height="30"
        loading="eager"
        draggable="false"
      >
    </a>
  </ng-container>
</ng-template>

<ng-template #black>

</ng-template>

<ng-template #white>

</ng-template> -->


<ng-container *ngFor="let platform of SOCIAL_PLATFORMS">
  <a
    *ngIf="platform.destination"
    class="flex items-center"
    [href]="platform.destination"
    target="_blank"
  >
    <img
      *ngIf="socialPlatforms.icon_style === socialIconStyle.COLOR; else defaultIcon"
      [src]="platform.icon"
      [alt]="platform.name + '\'s icon'"
      width="30"
      height="30"
      loading="eager"
      draggable="false"
    >
    <ng-template #defaultIcon>
      <i
        class="text-2xl"
        [ngClass]="[
          platform.icon,
          socialPlatforms.icon_style === socialIconStyle.WHITE ? 'text-white' : 'text-black'
        ]"
      ></i>
    </ng-template>
  </a>
</ng-container>
