<ng-container *ngFor="let platform of SOCIAL_PLATFORMS">
  <a
    *ngIf="platform.destination"
    class="flex items-center"
    [href]="platform.destination"
    target="_blank"
  >
    <img
      *ngIf="socialPlatforms.icon_style === socialIconStyle.COLOR; else defaultIcon"
      [src]="platform.icon"
      [alt]="platform.name + '\'s icon'"
      width="30"
      height="30"
      loading="eager"
      draggable="false"
    >
    <ng-template #defaultIcon>
      <i [class]="getIconClassNames(platform.icon)"></i>
    </ng-template>
  </a>
</ng-container>
