<app-header></app-header>

<main class="bg-gray-100">
  <div class="lg:flex-row container flex flex-col gap-8 px-4 py-2 mx-auto">
    <app-sidebar></app-sidebar>

    <div class="flex-grow">
      <router-outlet></router-outlet>
    </div>

    <button
      *ngIf="showScrollToTop"
      class="bottom-4 right-3 bg-secondary hover:bg-primary fixed z-10 flex items-center p-2 text-xl text-white border rounded-md shadow-md"
      (click)="onScrollToTop()"
      type="button"
    >
      <i class="icon-chevron-up"></i>
    </button>
  </div>
</main>

<app-footer></app-footer>
