<div class="my-4 space-y-4" *ngIf="url">
  <h1 class="text-poetsen-one text-3xl">View Statics</h1>
  <table class="border-spacing-1 sm:border-spacing-2 max-w-xl bg-white border border-separate border-gray-300 rounded-lg shadow-lg">
    <tr>
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Title</th>
      <td class="border-slate-300 text-primary animate-pulse px-4 py-2 font-semibold break-all border">{{ url.title }}</td>
    </tr>
    <tr>
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Origin Link</th>
      <td class="border-slate-300 px-4 py-2 break-all border">
        <a class="hover:underline hover:text-blue-500" [href]="url.origin_url">{{ url.origin_url }}</a>
      </td>
    </tr>
    <tr>
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Shortened Link</th>
      <td class="border-slate-300 px-4 py-2 break-all border">
        <a
          class="hover:underline hover:text-blue-500"
          [routerLink]="['/l', url.custom_back_half || url.back_half]">
          {{ url.client }}/l/{{ url.custom_back_half || url.back_half }}
        </a>
      </td>
    </tr>
    <tr *ngIf="url.custom_back_half">
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Alternative Link</th>
      <td class="border-slate-300 px-4 py-2 break-all border">
        <a
          class="hover:underline hover:text-blue-500"
          [routerLink]="['/l', url.back_half]">
          {{ url.client }}/l/{{ url.back_half }}
        </a>
      </td>
    </tr>
    <tr>
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Description</th>
      <td class="border-slate-300 px-4 py-2 break-all border">{{ url.description }}</td>
    </tr>

    <tr>
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Active</th>
      <td class="border-slate-300 px-4 py-2 break-all border">
        {{ url.is_active ? '🟢' : '🔴' }}
      </td>
    </tr>
    <tr>
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Use Password</th>
      <td class="border-slate-300 flex items-center px-4 py-2 break-all border">
        <i *ngIf="url.use_password" class="icon-key text-xl text-yellow-600"></i>
        <i *ngIf="!url.use_password" class="icon-key-off text-xl text-gray-500"></i>
      </td>
    </tr>
    <tr>
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Total visited</th>
      <td class="border-slate-300 px-4 py-2 font-semibold text-blue-500 break-all border">
        {{ url.visited_by_desktop + url.visited_by_tablet + url.visited_by_mobile }}
      </td>
    </tr>
    <tr>
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Total redirected success</th>
      <td class="border-slate-300 text-secondary px-4 py-2 font-semibold break-all border">{{ url.redirect_success }}</td>
    </tr>
    <tr>
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Tags</th>
      <td class="border-slate-300 px-4 py-2 break-all border"></td>
    </tr>
    <tr>
      <th class="sm:text-nowrap text-start border-slate-300 bg-slate-50 px-4 py-2 border">Created at</th>
      <td class="border-slate-300 px-4 py-2 break-all border">{{ url.created_at | date }}</td>
    </tr>
  </table>
</div>
