<div class="max-w-2xl p-4 mx-auto my-4 space-y-4 bg-white border border-gray-300 rounded-md shadow">
  <h1 class="text-poetsen-one text-3xl">Forget Password</h1>

  <div class="flex flex-col items-start gap-2">
    <label class="text-gray-700" for="email">Your email address:</label>
    <mat-form-field
      class="w-full"
      appearance="outline"
      color="accent"
    >
      <input
        matInput
        id="email"
        [formControl]="emailControl"
        type="text"
        placeholder="Email address"
        (keydown)="onPressEnter($event)"
      >
      <mat-hint class="text-gray-500">You will receive code through email to reset your password.</mat-hint>
    </mat-form-field>
  </div>

  <form [formGroup]="resetPasswordForm" (submit)="onResetPassword()">
    <div class="space-y-2">
      <label class="text-gray-700" for="code">Reset password code:</label>
      <div
        class="flex gap-2"
        [class]="{'flex-col': !(showBtnGetCode$ | async), 'items-center': showBtnGetCode$ | async}"
      >
        <mat-form-field
          class="flex-grow"
          appearance="outline"
          color="accent"
        >
          <input
            matInput
            id="code"
            formControlName="code"
            type="text"
            maxlength="6"
            placeholder="Enter reset password code"
            (keydown)="onPressEnter($event)"
          >
          <mat-error
            class="text-jost text-sm"
            *ngFor="let error of getObjectKeys(resetPasswordForm.get('code')?.errors)"
          >
            {{ codeValidationMessages[error] }}
          </mat-error>
        </mat-form-field>
        <button
          *ngIf="showBtnGetCode$ | async; else countdown"
          class="!-mt-6 px-4 py-2.5 bg-secondary text-white hover:bg-secondary/80 rounded shadow flex items-center gap-2 disabled:bg-sky-400"
          type="button"
          [disabled]="isSendingCode"
          [class]="{'disabled:bg-sky-400': isSendingCode}"
          (click)="onSendCode()"
        >
          <i *ngIf="isSendingCode" class="icon-spinner spinning"></i>
          {{ isSendingCode ? "Sending..." : "Get code" }}
        </button>
        <ng-template #countdown>
          <p class="!-mt-4 text-blue-400">
            Please wait
            <span *ngIf="nextForgetPwTime$ | async as nextForgetPasswordTime" class="!-mt-6 font-semibold text-blue-600">
              {{ nextForgetPasswordTime | countdown | async }}
            </span>
            to get new code!
          </p>
        </ng-template>
      </div>
    </div>

    <div class="space-y-2">
      <label class="text-gray-700" for="newPassword">New password:</label>
      <mat-form-field
        class="w-full"
        appearance="outline"
        color="accent"
      >
        <input
          matInput
          id="newPassword"
          [type]="hideNewPassword ? 'password' : 'text'"
          placeholder="Enter new password"
          formControlName="newPassword"
        >
        <button
          mat-icon-button
          matSuffix
          (click)="hideNewPassword = !hideNewPassword"
          [attr.aria-label]="'Hide new password'"
          [attr.aria-pressed]="hideNewPassword"
          tabindex="-1"
          type="button"
        >
          <mat-icon class="text-lg">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          class="text-jost text-sm"
          *ngFor="let error of getObjectKeys(resetPasswordForm.get('newPassword')?.errors)"
        >
          {{ newPasswordValidationMessages[error] }}
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <label class="text-gray-700" for="passwordConfirmation">Confirm password:</label>
      <mat-form-field
        class="w-full"
        appearance="outline"
        color="accent"
      >
        <input
          matInput
          id="passwordConfirmation"
          [type]="hidePasswordConfirmation ? 'password' : 'text'"
          placeholder="Confirm new password"
          formControlName="confirmPassword"
          (keydown)="onPressEnter($event)"
        >
        <button
          mat-icon-button
          matSuffix
          (click)="hidePasswordConfirmation = !hidePasswordConfirmation"
          [attr.aria-label]="'Hide password confirmation'"
          [attr.aria-pressed]="hidePasswordConfirmation"
          tabindex="-1"
          type="button"
        >
          <mat-icon class="text-lg">{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error
          class="text-jost text-sm"
          *ngFor="let error of getObjectKeys(resetPasswordForm.get('confirmPassword')?.errors)"
        >
          {{ confirmPasswordValidationMessages[error] }}
        </mat-error>
      </mat-form-field>
    </div>

    <p *ngIf="formError" class="text-jost text-rose-500 self-center text-lg text-center">{{ formError }}</p>

    <button
      class="px-4 py-2.5 !mt-2 bg-secondary text-white hover:bg-secondary/80 rounded shadow flex items-center gap-2 disabled:bg-gray-400 disabled:cursor-not-allowed ml-auto"
      type="submit"
      [class]="{'disabled:bg-sky-400': isResettingPassword}"
      [disabled]="isResettingPassword"
    >
      <i *ngIf="isResettingPassword" class="icon-spinner spinning"></i>
      {{ isResettingPassword ? "Processing..." : "Reset password" }}
    </button>
  </form>
</div>
