<div class="space-y-3">
  <h6 class="text-karla text-xl font-bold">Socials</h6>

  <div cdkDropList class="space-y-2">
    <div cdkDrag class="flex items-center gap-4 px-4 py-2 bg-gray-300 border border-gray-400 rounded-md shadow">
      <i cdkDragHandle class="icon-drag text-xl text-gray-600 cursor-pointer"></i>
      <div class="gap-x-4 gap-y-2 flex flex-wrap items-center flex-grow">
        <span class="flex flex-grow items-center gap-2 bg-white px-4 py-1.5 rounded-md">
          <img src="assets/images/icon-facebook-colored.svg" width="24" height="24">
          Facebook
        </span>
        <input class="w-full max-w-2xl outline-none px-4 py-1.5 rounded-md" type="text" placeholder="https://facebook.com/your-brand">
      </div>
    </div>

    <div cdkDrag class="flex items-center gap-4 px-4 py-2 bg-gray-300 border border-gray-400 rounded-md shadow">
      <i cdkDragHandle class="icon-drag text-xl text-gray-600 cursor-pointer"></i>
      <div class="gap-x-4 gap-y-2 flex flex-wrap items-center flex-grow">
        <span class="flex flex-grow items-center gap-2 bg-white px-4 py-1.5 rounded-md">
          <img src="assets/images/icon-instagram-colored.svg" width="24" height="24">
          Instagram
        </span>
        <input class="w-full max-w-2xl outline-none px-4 py-1.5 rounded-md" type="text" placeholder="https://instagram.com/your-brand">
      </div>
    </div>
  </div>

</div>
