<h3
  class="text-poetsen-one"
  align="center"
  mat-dialog-title
>
  Welcome back 😎!
</h3>

<mat-dialog-content class="text-jost !text-black space-y-5">
  <login-form></login-form>

  <p class="ml-1 text-gray-500">
    Don't have an account?
    <button
      class="hover:text-primary text-black"
      (click)="openRegisterDialog()"
      type="button"
    >
      Register now
    </button>
  </p>

  <div class="grid items-center grid-cols-3">
    <hr class="border-gray-600">
    <span class="text-roboto-condensed text-center text-gray-600">OR</span>
    <hr class="border-gray-600">
  </div>

  <app-login-oauth></app-login-oauth>
</mat-dialog-content>

