<div class="border-slate-300 flex gap-2 p-4 bg-white border rounded-md shadow">
  <ng-content></ng-content>

  <div class="flex flex-col flex-grow gap-2">
    <div class="text-karla flex items-center gap-1 font-semibold">
      <i class="icon-youtube"></i>
      <span>Youtube</span>
    </div>
    <div class="flex gap-4">
      <img
        class="aspect-square rounded-md"
        src="/assets/images/icon-youtube-colored-250.svg"
        alt="Youtube image"
        width="130"
        height="130"
        draggable="false"
      >
      <div class="flex flex-col items-start gap-1">
        <h6 class="text-secondary text-lg font-semibold">{{ block.title }}</h6>
        <small class="text-gray-500">{{ block.description }}</small>
        <a
          href="#"
          class="hover:underline hover:text-primary inline-block text-sm font-semibold text-gray-700"
        >
          {{ block.youtube_url }}
        </a>
      </div>
    </div>
  </div>

  <div class="break-keep flex items-start gap-3">
    <button
      class="hover:text-blue-700 flex items-center gap-1 text-blue-500"
      type="button"
      (click)="openEditDialog()"
    >
      <i class="icon-edit"></i> Edit
    </button>
    <button
      class="hover:text-red-700 disabled:text-sky-400 flex items-center gap-1 text-red-500"
      [disabled]="isProcessing"
      (click)="openDeleteDialog()"
      type="button"
    >
      <i [ngClass]="{
        'icon-delete': !isProcessing,
        'icon-spinner spinning': isProcessing
      }"></i>
      {{ isProcessing ? 'Deleting...' : 'Delete' }}
    </button>
  </div>
</div>
