<div class="bg-slate-100 border-slate-300 flex gap-2 p-4 border rounded-md shadow">
  <i class="icon-drag text-xl text-gray-600 cursor-pointer"></i>

  <div class="flex flex-col flex-grow gap-2">
    <div class="text-karla flex items-center gap-1 font-semibold">
      <i class="icon-youtube"></i>
      <span>Youtube</span>
    </div>
    <div class="flex gap-4">
      <img
        class="aspect-square border border-gray-500 rounded-md"
        src="https://images.unsplash.com/photo-1496449903678-68ddcb189a24?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
        width="130"
        height="130"
        draggable="false"
      >
      <div class="flex flex-col items-start gap-1">
        <h6 class="text-secondary text-lg font-semibold">{{ block.title }}</h6>
        <small class="text-gray-500">{{ block.description }}</small>
        <a
          href="#"
          class="hover:underline hover:text-primary inline-block text-sm font-semibold text-gray-700"
        >
          https://www.youtube.com/watch?v=yjmp8CoZBIo
        </a>
      </div>
    </div>
  </div>

  <div class="break-keep flex items-start gap-3">
    <button class="hover:text-blue-700 flex items-center gap-1 text-blue-500">
      <i class="icon-edit"></i> Edit
    </button>
    <button class="hover:text-red-700 flex items-center gap-1 text-red-500">
      <i class="icon-delete"></i> Delete
    </button>
  </div>
</div>
