
<div class="flex items-center justify-center gap-6">
  <button
    class="hover:scale-125 transition-all duration-700"
    type="button"
    (click)="navigateToAuthenticationPage('google')"
  >
    <i class="icon-google text-rose-600 text-3xl"></i>
  </button>

  <button
    class="hover:scale-125 transition-all duration-700"
    type="button"
    (click)="navigateToAuthenticationPage('facebook')"
  >
    <i class="icon-facebook text-3xl text-blue-600"></i>
  </button>

  <button
    class="hover:scale-125 transition-all duration-700"
    type="button"
    (click)="navigateToAuthenticationPage('github')"
  >
    <i class="icon-github text-3xl text-gray-800"></i>
  </button>

  <button
    class="hover:scale-125 transition-all duration-700"
    type="button"
    (click)="navigateToAuthenticationPage('twitter')"
  >
    <i class="icon-twitter text-3xl text-gray-800"></i>
  </button>
</div>
