<div class="flex items-center justify-center gap-6">
  <button
    type="button"
    class="hover:scale-125 transition-all duration-700"
  >
    <i class="text-3xl icon-google text-rose-600"></i>
  </button>

  <button
    type="button"
    class="hover:scale-125 transition-all duration-700"
  >
    <i class="text-3xl icon-facebook text-blue-600"></i>
  </button>

  <button
    type="button"
    class="hover:scale-125 transition-all duration-700"
  >
    <i class="text-3xl icon-github text-gray-800"></i>
  </button>

  <button
    type="button"
    class="hover:scale-125 transition-all duration-700"
  >
    <i class="text-3xl icon-slack text-violet-800"></i>
  </button>
</div>
