<h6 class="text-karla text-xl font-bold">Font</h6>

<div class="sm:grid-cols-4 grid grid-cols-2 gap-4">
  <div class="text-karla hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Karla
  </div>

  <div class="text-roboto-condensed hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Roboto Condensed
  </div>

  <div class="text-arvo hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Arvo
  </div>

  <div class="text-dosis hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Dosis
  </div>

  <div class="text-lato hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Lato
  </div>

  <div class="text-league-spartan hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    League Spartan
  </div>

  <div class="text-nunito hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Nunito
  </div>

  <div class="text-oswald hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Oswald
  </div>

  <div class="text-ubuntu-condensed hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Ubuntu Condensed
  </div>

  <div class="text-jost hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Jost
  </div>

  <div class="text-itim hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Itim
  </div>

  <div class="text-lobster hover:border-blue-500 text-slate-700 hover:text-blue-700 flex items-center justify-center px-4 py-3 text-lg text-center border-2 border-gray-400 rounded-md cursor-pointer">
    Lobster
  </div>
</div>
