<h6 class="text-karla text-xl font-bold">Font</h6>

<div class="sm:grid-cols-4 grid grid-cols-2 gap-4">
  <button
    *ngFor="let font of getObjectValues(BrandFont)"
    class="text-itim flex items-center justify-center px-4 py-3 text-lg text-center border-2 rounded-md cursor-pointer"
    [ngClass]="{
      'border-blue-500 text-blue-700': fontControl.value === font,
      'hover:border-blue-500 text-slate-700 border-gray-400 hover:text-blue-700': fontControl.value !== font,
    }"
    type="button"
    (click)="fontControl.patchValue(font)"
  >
    {{ font | titlecase }}
  </button>
</div>
