<div class="flex flex-col gap-2">
  <label class="text-gray-500">Logo:</label>
  <app-input-image
    [imageUrl]="defaultBrandLogo"
    [control]="logoControl"
  ></app-input-image>
</div>

<div class="flex flex-col gap-2">
  <label class="text-gray-500" for="title">Title:<small class="text-red-500">*</small></label>
  <mat-form-field class="max-w-xl" appearance="outline" color="accent">
    <input
      matInput
      [formControl]="titleControl"
      id="title"
      type="text"
      placeholder="Brand name"
      maxlength="80"
    >
    <mat-error
      class="text-jost text-sm"
      *ngFor="let error of getObjectKeys(titleControl.errors)"
    >
      {{ titleValidationMessages[error] }}
    </mat-error>
  </mat-form-field>
</div>

<div class="flex flex-col gap-2">
  <label class="text-gray-500" for="description">Description:</label>
  <mat-form-field class="max-w-xl" appearance="outline" color="accent">
    <textarea
      matInput
      [formControl]="descriptionControl"
      id="description"
      type="text"
      placeholder="Brand description"
      rows="2"
      maxlength="100"
    ></textarea>
    <mat-error
      class="text-jost text-sm"
      *ngFor="let error of getObjectKeys(descriptionControl.errors)"
    >
      {{ descriptionValidationMessages[error] }}
    </mat-error>
  </mat-form-field>
</div>
