<div class="bg-slate-100 border-slate-300 p-4 border rounded-md shadow">
  <app-profile-form [designForm]="designForm"></app-profile-form>
</div>

<div class="bg-slate-100 border-slate-300 p-4 border rounded-md shadow">
  <app-page-form [designForm]="designForm"></app-page-form>
</div>

<div class="bg-slate-100 border-slate-300 p-4 border rounded-md shadow">
  <app-socials-form></app-socials-form>
</div>

<div class="bg-slate-100 border-slate-300 p-4 border rounded-md shadow">
  <app-blocks-form [designForm]="designForm"></app-blocks-form>
</div>

<div class="bg-slate-100 border-slate-300 p-4 border rounded-md shadow">
  <app-font-form></app-font-form>
</div>
