<ng-container *ngIf="fetchedDesign; else loadingTab">
  <div class="p-4 bg-white border border-gray-300 rounded-md shadow">
    <app-profile-form
      [logoControl]="designForm.controls.logo"
      [titleControl]="designForm.controls.title"
      [descriptionControl]="designForm.controls.description"
    ></app-profile-form>
  </div>

  <div class="p-4 bg-white border border-gray-300 rounded-md shadow">
    <app-page-form
      [layoutControl]="designForm.controls.layout"
      [headerColorControl]="designForm.controls.headerColor"
      [backgroundColorControl]="designForm.controls.backgroundColor"
      [titleColorControl]="designForm.controls.titleColor"
      [descriptionColorControl]="designForm.controls.descriptionColor"
    ></app-page-form>
  </div>

  <div
    *ngIf="brandSocialPlatforms"
    class="p-4 bg-white border border-gray-300 rounded-md shadow"
  >
    <app-socials-form
      [socialPlatforms]="brandSocialPlatforms"
    ></app-socials-form>
  </div>

  <div class="p-4 bg-white border border-gray-300 rounded-md shadow">
    <app-blocks-form
      [blockShapeControl]="designForm.controls.blockShape"
      [blockShadowControl]="designForm.controls.blockShadow"
      [blockColorControl]="designForm.controls.blockColor"
      [blockTextColorControl]="designForm.controls.blockTextColor"
    ></app-blocks-form>
  </div>

  <div class="p-4 bg-white border border-gray-300 rounded-md shadow">
    <app-font-form [fontControl]="designForm.controls.font"></app-font-form>
  </div>
</ng-container>

<ng-template #loadingTab>
  <app-loading-tab [description]="'Loading brand design...'"></app-loading-tab>
</ng-template>
