<div
  class="brand text-wrap mx-auto break-all rounded-md shadow-md"
  [style.background]="brand.background_color"
>
  <header class="relative">
    <div class="header-content relative z-10 p-4 space-y-3 text-white bg-transparent">
      <img
        class="min-h-44 min-w-44 aspect-square mx-auto mt-8 border-4 rounded-full select-none"
        [style]="{
          'border-color': brand.header_color
        }"
        [src]="brand.logo || defaultBrandLogo"
        [alt]="brand.title + '\'s logo'"
        fetchPriority="high"
        width="176"
        height="176"
        draggable="false"
        loading="eager"
      >
      <h1
        class="text-3xl font-semibold text-center select-none"
        [style.color]="brand.title_color"
      >
        {{ brand.title }}
      </h1>
      <p
        class="text-center text-blue-800"
        [style.color]="brand.description_color"
      >
        {{ brand.description }}
      </p>
      <app-social-platforms
        *ngIf="brand.social_platforms && brand.social_platforms.icon_position === SocialIconPosition.TOP"
        [socialPlatforms]="brand.social_platforms"
      ></app-social-platforms>
    </div>
  </header>

  <main class="p-4 space-y-5">
    <app-block
      *ngFor="let block of brand.blocks"
      [block]="block"
      [blockShape]="brand.block_shape"
      [blockShadow]="brand.block_shadow"
      [descriptionColor]="brand.description_color"
      [blockColor]="brand.block_color"
      [blockTextColor]="brand.block_text_color"
    ></app-block>
  </main>

  <app-social-platforms
    *ngIf="brand.social_platforms && brand.social_platforms.icon_position === SocialIconPosition.BOTTOM"
    [socialPlatforms]="brand.social_platforms"
  ></app-social-platforms>

  <app-footer></app-footer>
</div>
