<div class="flex gap-2 p-4 bg-white border border-gray-300 rounded-md shadow">
  <ng-content></ng-content>

  <div class="flex flex-col flex-grow gap-2">
    <div class="text-karla flex items-center gap-1 font-semibold">
      <i class="icon-link rotate-45"></i>
      <span>Button</span>
    </div>
    <div class="flex flex-col items-start gap-1">
      <h6 class="text-secondary text-lg font-semibold">{{ block.title }}</h6>
      <small class="text-gray-500">{{ block.description }}</small>
      <a
        [routerLink]="['/l/' , (block.url?.custom_back_half || block.url?.back_half)]"
        class="hover:underline hover:text-primary text-sm font-semibold text-gray-700"
      >
        {{ client + (block.url?.custom_back_half || block.url?.back_half) }}
      </a>
      <a
        [href]="block.url?.origin_url"
        class="hover:underline text-sm text-gray-600"
      >
        {{ block.url?.origin_url }}
      </a>
    </div>
  </div>

  <div class="break-keep flex items-start gap-3">
    <button
      class="hover:text-blue-700 flex items-center gap-1 text-blue-500"
      type="button"
      (click)="openEditDialog()"
    >
      <i class="icon-edit"></i> Edit
    </button>
    <button
      class="hover:text-red-700 disabled:text-sky-400 flex items-center gap-1 text-red-500"
      [disabled]="isProcessing"
      (click)="openDeleteDialog()"
      type="button"
    >
      <i [ngClass]="{
        'icon-delete': !isProcessing,
        'icon-spinner spinning': isProcessing
      }"></i>
      {{ isProcessing ? 'Deleting...' : 'Delete' }}
    </button>
  </div>
</div>
