<div
  class="sm:flex-row flex flex-col items-baseline gap-4 p-4 bg-white border border-gray-300 rounded-md shadow"
>
  <ng-container *ngIf="selectingAll !== null; else defaultCheckbox">
    <mat-checkbox
      [checked]="selectingAll"
      (change)="onClickCheckbox()"
    ></mat-checkbox>
  </ng-container>
  <ng-template #defaultCheckbox>
    <mat-checkbox
      (change)="onClickCheckbox()"
    ></mat-checkbox>
  </ng-template>
  <div class="self-center -mt-12 -ml-2">
    <img
      class="w-8 h-8 border border-gray-500 rounded-full"
      [src]="'https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=' + url.origin_url + '&size=32'"
      [alt]="'Link of ' + url.origin_url"
      width="32"
      height="32"
      draggable="false"
    >
  </div>
  <div class="flex flex-col flex-grow gap-6">
    <div class="link-info flex-grow space-y-1">
      <h6 class="text-jost text-secondary flex items-center gap-2 text-lg font-semibold break-all cursor-default">
        <i
          *ngIf="url.description"
          class="icon-info hover:text-gray-600 text-gray-400 cursor-pointer"
          [matTooltip]="url.description"
          matTooltipPosition="above"
        ></i>
        {{ url.title }}
        <small *ngIf="!url.is_active" class="animate-pulse text-gray-500">🔴</small>
        <i
          *ngIf="url.use_password"
          class="icon-key text-yellow-600 rotate-45"
          matTooltip="Private link"
          matTooltipPosition="above"
        ></i>
      </h6>
      <a
        class="hover:underline hover:text-primary block text-sm font-semibold text-gray-500 break-all"
        [routerLink]="'/l/' + (url.custom_back_half ? url.custom_back_half : url.back_half)"
      >
        {{ url.client + (url.custom_back_half || url.back_half) }}
      </a>
      <a class="hover:underline hover:text-black block text-sm text-gray-500 break-all" [href]="url.origin_url">{{ url.origin_url }}</a>
    </div>
    <div class="flex items-center gap-2">
      <a
        class="flex items-center gap-1 px-2 py-0.5 rounded-md text-gray-700 bg-gray-300 border border-gray-300 hover:text-black hover:shadow"
        [routerLink]="['/u/analytics/view-statics', url.id]"
      >
          <i class="icon-bar-chart"></i> View statics
      </a>
      <p class="flex items-center gap-1">
        <i class="icon-calendar"></i>
        <span>{{ url.created_at | date:"MMM dd, yyyy" }}</span>
      </p>
    </div>
    <div *ngIf="tags.length > 0 && url.tags.length > 0" class="!-mt-4 flex gap-2 items-center flex-wrap">
      <app-tag-badge
        *ngFor="let tag of url.tags"
        [tags]="tags"
        [targetTagId]="tag.tag_id"
      ></app-tag-badge>
    </div>
  </div>

  <div class="self-start space-x-3">
    <button
      [cdkCopyToClipboard]="url.client + (url.custom_back_half || url.back_half)"
      #copyTooltip="matTooltip"
      (click)="onCopy()"
      type="button"
      matTooltip="Copy"
      matTooltipPosition="above"
    >
      <i class="hover:text-black hover:shadow icon-copy p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
    </button>
    <button
      matTooltip="View QR Code"
      matTooltipPosition="above"
      (click)="onOpenQRCodeDialog()"
      type="button"
    >
      <i class="hover:text-black hover:shadow icon-qr-code p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
    </button>
    <button
      matTooltip="Edit"
      matTooltipPosition="above"
      (click)="onOpenEditDialog()"
      type="button"
    >
      <i class="hover:text-black hover:shadow icon-edit p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
    </button>
    <button
      matTooltip="Delete"
      matTooltipPosition="above"
      (click)="onOpenDeleteDialog()"
      type="button"
    >
      <i class="hover:text-black hover:shadow icon-delete p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
    </button>
  </div>

</div>
