<div class="space-y-3">
  <p class="text-gray-700">All things are ready! You can now create your own brand 🧡</p>
  <div class="flex items-center gap-3">
    <button
      matStepperPrevious
      class="bg-secondary text-white px-4 py-2.5 rounded shadow hover:bg-secondary/80 inline-flex items-center gap-2"
    >
      <i class="icon-chevron-left"></i> Previous step
    </button>
    <button
      class="bg-primary text-white px-4 py-2.5 rounded shadow hover:bg-primary/90 inline-flex items-center gap-2"
      type="button"
      (click)="onFinished()"
    >
      <i class="icon-launch"></i> Create Brand
    </button>
  </div>
</div>
