<div class="sidebar bg-primary top-20 sticky text-gray-300 rounded-md shadow-lg">
  <div class="lg:hidden p-2">
    <button
      class="flex items-center px-3 py-2 text-xl text-white border-2 border-white rounded-md"
      type="button"
      (click)="isSidebarOpen = !isSidebarOpen; isInitialSidebarState = false"
    >
      <i [class]="{'icon-menu': !isSidebarOpen, 'icon-menu-open': isSidebarOpen}"></i>
    </button>
  </div>

  <ul
    [ngClass]="{
      'hidden': !isLgScreen && isInitialSidebarState,
      'hide-sidebar': !isSidebarOpen && !isLgScreen && !isInitialSidebarState,
      'show-sidebar': isSidebarOpen && !isLgScreen && !isInitialSidebarState
    }"
  >
    <li>
      <a
        class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block lg:rounded-tl-md lg:rounded-tr-md"
        routerLink="links"
        routerLinkActive="active"
        (click)="onClickNavigationItem()"
      >
        <span class="flex items-center gap-1"><i class="icon-link rotate-45"></i> Links</span>
      </a>
    </li>

    <li>
      <a
        class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block"
        routerLink="qr-codes"
        routerLinkActive="active"
        (click)="onClickNavigationItem()"
      >
        <span class="flex items-center gap-1"><i class="icon-qr-code"></i> QR Codes</span>
      </a>
    </li>

    <li>
      <a
        class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block"
        routerLink="tags"
        routerLinkActive="active"
        (click)="onClickNavigationItem()"
      >
        <span class="flex items-center gap-1"><i class="icon-tags"></i> Tags</span>
      </a>
    </li>

    <li>
      <a
        class="hover:text-white hover:bg-secondary relative px-4 py-2.5 flex items-center justify-between w-full cursor-pointer"
        [ngClass]="{
          'active shadow': isInBrandRoute
        }"
        (click)="onClickBrandItem()"
      >
        <span class="flex items-center gap-1"><i class="icon-star"></i> Brands</span>
        <i
          class="icon-chevron-down text-end transition-all duration-500"
          [class]="{'rotate-180': isBrandItemOpen}"
        ></i>
      </a>

      <ul class="bg-slate-800 brand-sub-items" [class.show]="isBrandItemOpen">
        <li *ngFor="let brand of brands">
          <a
            class="relative pr-4 pl-8 hover:text-white hover:bg-slate-700 py-2.5 block"
            [routerLink]="['brands', 'manage', brand.prefix]"
            routerLinkActive="sub-item-active"
            (click)="onClickNavigationItem()"
          >
            {{ brand.title }} ({{ brand.prefix }})
          </a>
        </li>
        <li>
          <a
            class="relative pr-4 pl-8 text-white hover:bg-slate-700 py-2.5 flex items-center gap-1"
            routerLink="brands"
            routerLinkActive="sub-item-active"
            [routerLinkActiveOptions]="{exact: true}"
            (click)="onClickNavigationItem()"
          >
            <i class="icon-add-box text-sm"></i> <span class="flex-grow">New Brand</span>
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a
        class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block"
        routerLink="analytics"
        routerLinkActive="active"
        (click)="onClickNavigationItem()"
      >
        <span class="flex items-center gap-1"><i class="icon-chart"></i> Analytics</span>
      </a>
    </li>

    <li>
      <a
        class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block border-t-2 border-gray-400"
        routerLink="my-account"
        routerLinkActive="active"
        (click)="onClickNavigationItem()"
      >
        <span class="flex items-center gap-1"><i class="icon-account"></i> My Account</span>
      </a>
    </li>

    <li>
      <a
        class="relative hover:text-white hover:bg-secondary rounded-bl-md rounded-br-md px-4 py-2.5 block "
        routerLink="settings"
        routerLinkActive="active"
        (click)="onClickNavigationItem()"
      >
        <span class="flex items-center gap-1"><i class="icon-settings"></i> Settings</span>
      </a>
    </li>
  </ul>
</div>
