.sidebar {
  .active {
    background: #6fb234;
    font-weight: 600;
    color: white;

    &::before {
      content: "";
      width: 5px;
      height: 50%;
      background-color: white;
      position: absolute;
      left: 0;
    }
  }

  .sub-item-active {
    background: #6371a9;
    font-weight: 600;
    color: white;
  }

  @media (min-width: 1024px) {
    min-width: 200px;
    max-width: 200px;

    .active {
      width: 200px;
    }
  }

  .brand-sub-items {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;

    &.show {
      max-height: fit-content;
    }
  }
}

.hide-sidebar {
  animation: hide-sidebar 0.5s forwards;
}

.show-sidebar {
  animation: show-sidebar 0.5s forwards;
}

@keyframes hide-sidebar {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    display: block;
  }
  100% {
    opacity: 0;
    transform: translate(0, -20%);
    display: none;
  }
}

@keyframes show-sidebar {
  0% {
    opacity: 0;
    transform: translate(0, -20%);
    display: none;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    display: block;
  }
}
