<div class="sidebar bg-primary top-20 sticky text-gray-300 rounded-md shadow-lg">
  <ul>
    <li>
      <a class="relative font-semibold text-white bg-secondary rounded-tl-md rounded-tr-md px-4 py-2.5 block active" routerLink="">
        <span class="flex items-center gap-1"><i class="icon-link"></i> Links</span>
      </a>
    </li>

    <li>
      <a class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block" routerLink="">
        <span class="flex items-center gap-1"><i class="icon-click"></i> QR Codes</span>
      </a>
    </li>

    <li>
      <button type="button" class="hover:text-white hover:bg-secondary px-4 py-2.5 flex items-center justify-between w-full">
        <span class="flex items-center gap-1"><i class="icon-star"></i> Brands</span>
        <i class="icon-chevron-down text-end"></i>
      </button>
    </li>

    <li>
      <a class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block" routerLink="">
        <span class="flex items-center gap-1"><i class="icon-chart"></i> Analytics</span>
      </a>
    </li>

    <li>
      <a class="relative hover:text-white hover:bg-secondary rounded-bl-md rounded-br-md px-4 py-2.5 block border-t-2 border-gray-400" routerLink="">
        <span class="flex items-center gap-1"><i class="icon-settings"></i> Settings</span>
      </a>
    </li>
  </ul>
</div>
