<div class="sidebar bg-primary top-20 sticky text-gray-300 rounded-md shadow-lg">
  <div class="lg:hidden p-2">
    <button
      class="flex items-center px-3 py-2 text-xl text-white border-2 border-white rounded-md"
      type="button"
      (click)="isOpenSidebar = !isOpenSidebar; isInitialSidebarState = false"
    >
      <i [class]="{'icon-menu': !isOpenSidebar, 'icon-menu-open': isOpenSidebar}"></i>
    </button>
  </div>

  <ul
    [ngClass]="{
      'hidden': currentScreenWidth < 1024 && isInitialSidebarState,
      'hide-sidebar': !isOpenSidebar && currentScreenWidth < 1024 && !isInitialSidebarState,
      'show-sidebar': isOpenSidebar && currentScreenWidth < 1024 && !isInitialSidebarState
    }"
  >
    <li>
      <a
        class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block"
        routerLink="links"
        routerLinkActive="active"
      >
        <span class="flex items-center gap-1"><i class="icon-link rotate-45"></i> Links</span>
      </a>
    </li>

    <li>
      <a
        class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block"
        routerLink="qr-codes"
        routerLinkActive="active"
      >
        <span class="flex items-center gap-1"><i class="icon-qr-code"></i> QR Codes</span>
      </a>
    </li>

    <li>
      <a
        class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block"
        routerLink="tags"
        routerLinkActive="active"
      >
        <span class="flex items-center gap-1"><i class="icon-tags"></i> Tags</span>
      </a>
    </li>

    <li>
      <button type="button" class="hover:text-white hover:bg-secondary px-4 py-2.5 flex items-center justify-between w-full">
        <span class="flex items-center gap-1"><i class="icon-star"></i> Brands</span>
        <i class="icon-chevron-down text-end"></i>
      </button>
    </li>

    <li>
      <a
        class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block"
        routerLink="analytics"
        routerLinkActive="active"
      >
        <span class="flex items-center gap-1"><i class="icon-chart"></i> Analytics</span>
      </a>
    </li>

    <li>
      <a
        class="relative hover:text-white hover:bg-secondary px-4 py-2.5 block border-t-2 border-gray-400"
        routerLink="my-account"
        routerLinkActive="active"
      >
        <span class="flex items-center gap-1"><i class="icon-account"></i> My Account</span>
      </a>
    </li>

    <li>
      <a
        class="relative hover:text-white hover:bg-secondary rounded-bl-md rounded-br-md px-4 py-2.5 block "
        routerLink="settings"
        routerLinkActive="active"
      >
        <span class="flex items-center gap-1"><i class="icon-settings"></i> Settings</span>
      </a>
    </li>
  </ul>
</div>
