<div class="mt-4 space-y-4">
  <div class="flex items-center justify-between">
    <h1 class="text-poetsen-one text-3xl">My Links</h1>
    <!-- TODO: Show tooltip on button shorten new link whenever screen < 640 -->
    <a
      matTooltip="Shorten new link"
      matTooltipPosition="above"
      matTooltipHideDelay="2000"
      type="button"
      class="bg-white px-3 py-1.5 rounded-md shadow-md border border-gray-300 text-gray-600 hover:text-black flex items-center gap-1"
      routerLink="shorten-url"
    >
      <i class="icon-rewrite"></i> <span class="md:inline hidden">Shorten new link</span>
    </a>
  </div>
  <div>
    <app-advanced-filter
      [filterOptions]="filterOptions"
      [initialLoadSubject]="initialLoadSubject"
      [infiniteLoadSubject]="infiniteLoadSubject"
      (filterChanged)="onAdvancedFilterChanged($event)"
    ></app-advanced-filter>
  </div>
  <hr class="border-gray-400">
  <div class="sm:flex-row flex flex-col-reverse items-baseline justify-between">
    <app-bulk-select
      [filterOptions]="filterOptions"
      [myUrls$]="myUrls$"
      [updateUrlSubject]="updateUrlSubject"
      [selectUrlSubject]="selectUrlSubject"
      (selectAll)="selectingAll = $event"
    ></app-bulk-select>

    <app-status-filter
      [filterOptions]="filterOptions"
      [initialLoadSubject]="initialLoadSubject"
      [infiniteLoadSubject]="infiniteLoadSubject"
      (filterChanged)="onStatusFilterChanged($event)"
    ></app-status-filter>
  </div>

  <div
    class="links space-y-4"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150"
    (scrolled)="onScrollDown()"
  >
    <app-link
      *ngFor="let url of myUrls$ | async"
      [url]="url"
      [selectingAll]="selectingAll"
      [updateUrlSubject]="updateUrlSubject"
      [deleteUrlSubject]="deleteUrlSubject"
      [selectUrlSubject]="selectUrlSubject"
    >
    </app-link>

    <app-loading-section
      [currentPage]="currentPage"
      [totalPage]="totalPage"
    ></app-loading-section>
  </div>
</div>
