<div class="mt-4 space-y-4">
  <div class="flex items-center justify-between">
    <h1 class="text-poetsen-one text-3xl">My Links</h1>
    <!-- TODO: Show tooltip on button shorten new link whenever screen < 640 -->
    <button
      matTooltip="Shorten new link"
      matTooltipPosition="above"
      matTooltipHideDelay="2000"
      type="button"
      class="bg-white px-3 py-1.5 rounded-md shadow-md border border-gray-300 text-gray-600 hover:text-black flex items-center gap-1"
    >
      <i class="icon-rewrite"></i> <span class="md:inline hidden">Shorten new link</span>
    </button>
  </div>
  <div>
    <button type="button" class="flex items-center gap-2 px-3 py-1.5 bg-white rounded-md shadow-md border border-gray-300 text-gray-600 hover:text-black">
      <i class="icon-filter"></i> Filter
    </button>
  </div>
  <hr class="border-gray-400">
  <div class="sm:flex-row flex flex-col-reverse items-baseline justify-between">
    <div class="space-x-4">
      <mat-checkbox>
        <span class="text-gray-700">0 <span class="sm:inline hidden">selected</span></span>
      </mat-checkbox>
      <button class="text-primary hover:text-secondary text-sm font-semibold">Export CSV</button>
      <button class="text-primary hover:text-secondary text-sm font-semibold">Inactivate</button>
      <button class="text-primary hover:text-secondary text-sm font-semibold">Tag</button>
    </div>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Show links</mat-label>
      <mat-select value="active">
        <mat-option value="active">Active</mat-option>
        <mat-option value="inactive">Inactive</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="links space-y-4">
    <div class="sm:flex-row flex flex-col items-baseline gap-4 p-4 bg-white border border-gray-300 rounded-md shadow">
      <mat-checkbox></mat-checkbox>
      <div class="self-center -mt-12 -ml-2">
        <img
          class="w-8 h-8 border border-gray-500 rounded-full"
          src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://github.com&size=32"
          alt="Link favicon"
          width="32"
          height="32"
        >
      </div>
      <div class="flex flex-col flex-grow gap-6">
        <div class="link-info flex-grow space-y-1">
          <h6 class="text-jost text-secondary text-lg font-semibold cursor-default">Event EZ303 link</h6>
          <a class="hover:underline hover:text-primary block text-sm font-semibold text-gray-500" routerLink="">https://grassway.hainkone.com/D0N32R3</a>
          <a class="hover:underline hover:text-black block text-sm text-gray-500" href="">https://ez303.com/events/check-in</a>
        </div>
        <div class="flex items-center gap-2">
          <button
            type="button"
            class="flex items-center gap-1 px-2 py-0.5 rounded-md text-gray-700 bg-gray-300 border border-gray-300 hover:text-black hover:shadow">
              <i class="icon-bar-chart"></i> View statics
          </button>
          <p class="flex items-center gap-1">
            <i class="icon-calendar"></i>
            <span>Dec 30, 2020</span>
          </p>
        </div>
      </div>
      <div class="self-start space-x-3">
        <button type="button" matTooltip="Copy" matTooltipPosition="above">
          <i class="hover:text-black hover:shadow icon-copy p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
        </button>
        <button type="button" matTooltip="View QR Code" matTooltipPosition="above">
          <i class="hover:text-black hover:shadow icon-qr-code p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
        </button>
        <button type="button" matTooltip="Edit" matTooltipPosition="above">
          <i class="hover:text-black hover:shadow icon-edit p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
        </button>
        <button type="button" matTooltip="Delete" matTooltipPosition="above">
          <i class="hover:text-black hover:shadow icon-delete p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
        </button>
      </div>
    </div>

    <div class="sm:flex-row flex flex-col items-baseline gap-4 p-4 bg-white border border-gray-300 rounded-md shadow">
      <mat-checkbox></mat-checkbox>
      <div class="self-center -mt-12 -ml-2">
        <img
          class="w-8 h-8 border border-gray-500 rounded-full"
          src="https://t1.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://github.com&size=32"
          alt="Link favicon"
          width="32"
          height="32"
        >
      </div>
      <div class="flex flex-col flex-grow gap-6">
        <div class="link-info flex-grow space-y-1">
          <h6 class="text-jost text-secondary text-lg font-semibold cursor-default">Event EZ303 link</h6>
          <a class="hover:underline hover:text-primary block text-sm font-semibold text-gray-500" routerLink="">https://grassway.hainkone.com/D0N32R3</a>
          <a class="hover:underline hover:text-black block text-sm text-gray-500" href="">https://ez303.com/events/check-in</a>
        </div>
        <div class="flex items-center gap-2">
          <button
            type="button"
            class="flex items-center gap-1 px-2 py-0.5 rounded-md text-gray-700 bg-gray-300 border border-gray-300 hover:text-black hover:shadow">
              <i class="icon-bar-chart"></i> View statics
          </button>
          <p class="flex items-center gap-1">
            <i class="icon-calendar"></i>
            <span>Dec 30, 2020</span>
          </p>
        </div>
      </div>
      <div class="self-start space-x-3">
        <button type="button" matTooltip="Copy" matTooltipPosition="above">
          <i class="hover:text-black hover:shadow icon-copy p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
        </button>
        <button type="button" matTooltip="View QR Code" matTooltipPosition="above">
          <i class="hover:text-black hover:shadow icon-qr-code p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
        </button>
        <button type="button" matTooltip="Edit" matTooltipPosition="above">
          <i class="hover:text-black hover:shadow icon-edit p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
        </button>
        <button type="button" matTooltip="Delete" matTooltipPosition="above">
          <i class="hover:text-black hover:shadow icon-delete p-1 text-2xl text-gray-600 bg-gray-100 border border-gray-400 rounded-md"></i>
        </button>
      </div>
    </div>

    <div class="lg:w-2/3 grid items-center w-full grid-cols-4 mx-auto">
      <hr class="border-gray-400">
      <p class="text-rubik sm:text-base col-span-2 text-sm text-center text-gray-600">You've reached the end of your links</p>
      <hr class="border-gray-400">
    </div>
  </div>
</div>
