<div class="mt-4 space-y-4">
  <h1 class="text-poetsen-one text-3xl">Overview</h1>

  <app-overview-charts></app-overview-charts>

  <hr class="w-11/12 mx-auto border border-gray-300">

  <div
    class="links space-y-4"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150"
    (scrolled)="onScrollDown()"
  >
    <app-link
      *ngFor="let url of myUrls$ | async"
      [url]="url"
    ></app-link>

    <app-loading-section
      *ngIf="totalPage > 0; else noData"
      [currentPage]="currentPage"
      [totalPage]="totalPage"
    ></app-loading-section>

    <ng-template #noData>
      <p class="text-center text-gray-500">
        You haven't created any links!
        <a class="hover:underline hover:text-blue-700 block font-semibold text-blue-500" [routerLink]="'/u/links/shorten-url'">
          Go create one now!
        </a>
      </p>
    </ng-template>
  </div>
</div>
