<div class="md:flex-row flex flex-col gap-4 my-4">
  <div class="flex flex-col gap-4 px-4">
    <div class="md:my-0 user-avatar-col group relative inline-flex m-auto">
      <img
        class="border-secondary aspect-square group-hover:brightness-50 group-hover:p-1 w-auto h-full border-2 rounded-full"
        [src]="avatarUrl"
        alt="User's avatar"
        width="250"
        height="250"
        loading="eager"
        draggable="false"
      >
      <i class="icon-camera left-1/2 top-1/2 group-hover:opacity-100 group-hover:scale-100 absolute text-5xl text-white transition-all duration-300 scale-75 -translate-x-1/2 -translate-y-1/2 opacity-0"></i>
      <input
        #avatarInput
        class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer"
        (change)="onAvatarChange($event)"
        type="file"
        title=""
        accept="image/*"
      >
      <button
        class="right-4 bottom-4 hover:shadow hover:text-black absolute px-2 py-1 text-gray-600 bg-white border-2 rounded-full"
        type="button"
        matTooltip="Upload avatar"
        matTooltipPosition="right"
        (click)="openSelectAvatar()"
      >
        <i class="icon-camera text-2xl"></i>
      </button>
    </div>

    <app-link-account></app-link-account>
  </div>

  <form
    [formGroup]="manageAccountForm"
    class="flex flex-col flex-grow px-2"
    (submit)="onSubmit()"
  >
    <div class="flex flex-col gap-2">
      <label class="dark:text-gray-300 text-gray-600" for="fullname">Full name:</label>
      <mat-form-field
        class="md:w-1/2 w-full"
        color="accent"
        appearance="outline"
      >
        <input
          id="fullname"
          formControlName="fullname"
          type="text"
          matInput
          placeholder="Your full name"
        >
        <mat-error *ngFor="let error of getObjectKeys(manageAccountForm.get('fullname')?.errors)">
          {{ fullnameValidationMessages[error] }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="md:flex-row flex flex-col gap-4">
      <div class="md:w-1/2 flex flex-col w-full gap-2">
        <label class="dark:text-gray-300 text-gray-600" for="dob">Date of birth:</label>
        <mat-form-field appearance="outline" color="accent">
          <input
            id="dob"
            formControlName="dob"
            matInput
            [matDatepicker]="picker"
            placeholder="Your date of birth"
          >
          <mat-hint class="dark:text-gray-300 italic text-gray-400">MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="md:w-1/2 flex flex-col w-full gap-2">
        <label class="dark:text-gray-300 text-gray-600" for="phone">Phone number:</label>
        <mat-form-field appearance="outline" color="accent">
          <input
            id="phone"
            formControlName="phone"
            type="text"
            matInput
            placeholder="Your phone number"
          >
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-col mt-2">
      <p class="dark:text-gray-300 text-gray-600">Gender:</p>
      <mat-radio-group
        formControlName="gender"
        class="gap-x-4 gap-y-2 flex flex-wrap"
        color="accent"
      >
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="other">Other</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex flex-col gap-2 mt-2">
      <label class="dark:text-gray-300 text-gray-600" for="bio">Bio:</label>
      <mat-form-field
        class="w-full"
        appearance="outline"
        color="accent"
      >
        <textarea
          formControlName="bio"
          matInput
          placeholder="Your bio"
          rows="5"
        ></textarea>
        <mat-error *ngFor="let error of getObjectKeys(manageAccountForm.get('bio')?.errors)">
          {{ bioValidationMessages[error] }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="space-y-2">
      <p *ngIf="formError" class="text-center text-red-500">{{ formError }}</p>
      <button
        type="submit"
        class="px-4 py-2.5 bg-secondary text-white rounded shadow ml-auto flex items-center gap-2 hover:bg-secondary/80 disabled:bg-gray-400"
        [class]="{'disabled:bg-sky-400': isProcessing}"
        [disabled]="!manageAccountForm.dirty || !manageAccountForm.valid || isProcessing"
      >
        <i [class]="isProcessing ? 'icon-spinner spinning' : 'icon-edit'"></i>
        {{ isProcessing ? "Processing..." : "Save updates" }}
      </button>
    </div>

  </form>
</div>
