<form
  [formGroup]="loginForm"
  class="space-y-2"
  (submit)="onSubmit()"
>
  <div class="flex flex-col gap-2">
    <label for="username">Username</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        id="username"
        formControlName="username"
        matInput
        placeholder="Your username or email"
        type="text"
      >
      <mat-error
        class="text-jost text-sm"
        *ngFor="let error of getObjectKeys(loginForm.get('username')?.errors)"
      >
        {{ usernameValidationMessages[error] }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-col gap-2">
    <label for="password">Password</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        id="password"
        formControlName="password"
        matInput
        placeholder="Your password"
        [type]="hidePassword ? 'password' : 'text'"
      >
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
        type="button"
        tabindex="-1"
      >
        <mat-icon class="text-lg">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error
        class="text-jost text-sm"
        *ngFor="let error of getObjectKeys(loginForm.get('password')?.errors)"
      >
        {{ passwordValidationMessages[error] }}
      </mat-error>
    </mat-form-field>
  </div>

  <button
    class="hover:text-blue-600 hover:underline text-gray-800"
    type="button"
    (click)="onForgetPassword()"
  >
    Forget your password?
  </button>

  <p *ngIf="formError" class="text-rose-500 text-center">{{ formError }}</p>

  <button
    type="submit"
    class="bg-secondary text-white hover:bg-secondary/80 w-full text-center py-2.5 px-4 rounded-md shadow-md disabled:bg-gray-400 flex items-center justify-center gap-2"
    [class]="{'disabled:bg-sky-400': isProcessing}"
    [disabled]="!loginForm.valid || isProcessing"
  >
    <i *ngIf="isProcessing" class="icon-spinner spinning"></i>
    {{ isProcessing ? "Processing..." : "Login" }}
  </button>
</form>
