<div
  *ngIf="fetchedLinks; else loading"
  class="pt-4 space-y-4 overflow-hidden break-all"
>
  <button
    class="bg-secondary hover:bg-secondary/80 flex items-center gap-2 px-3 py-2 text-white rounded shadow"
    type="button"
    (click)="openCreateLinkDialog()"
  >
    <i class="icon-add"></i>
    New link
  </button>

  <div
    class="space-y-4"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150"
    (scrolled)="onScrollDown()"
  >
    <app-brand-link
      *ngFor="let link of links$ | async; let i = index"
      [brandId]="brandId"
      [link]="link"
      [linksSubject]="linksSubject"
    ></app-brand-link>

    <app-loading-section
      [currentPage]="currentPage"
      [totalPage]="totalPage"
    ></app-loading-section>
  </div>
</div>

<ng-template #loading>
  <app-loading-tab [description]="'Loading brand links...'"></app-loading-tab>
</ng-template>
