<div
  *ngIf="brand && !disallowedLivePreview"
  [ngSwitch]="brand.layout"
  class="brand-card min-h-screen"
  [ngClass]="'text-' + brand.font"
  [style.background]="hexToRgba(brand.background_color, 0.3)"
>
  <app-layout-no-header
    *ngSwitchCase="BrandLayout.NO_HEADER"
    [brand]="brand"
  ></app-layout-no-header>

  <app-layout-curly-header
    *ngSwitchCase="BrandLayout.CURLY_HEADER"
    [brand]="brand"
  ></app-layout-curly-header>

  <app-layout-left-header
    *ngSwitchCase="BrandLayout.LEFT_HEADER"
    [brand]="brand"
  ></app-layout-left-header>

  <app-layout-center-header
    *ngSwitchCase="BrandLayout.CENTER_HEADER"
    [brand]="brand"
  ></app-layout-center-header>
</div>

<app-not-found *ngIf="brandNotFound"></app-not-found>
<app-unauthorized *ngIf="disallowedLivePreview"></app-unauthorized>
