<div
  class="flex flex-col items-center justify-between h-full gap-2 p-4 text-center border border-gray-300 rounded-md shadow-md"
  [class]="{
    'bg-white': link.is_active,
    'bg-gray-200': !link.is_active
  }"
>
  <div class="flex items-center justify-center">
    <qrcode
      #qrcode
      [qrdata]="link.client + (link.custom_back_half || link.back_half)"
      [alt]="'QR-Code of ' + link.title"
      [colorDark]="userSetting.qr_code_background_color"
      [colorLight]="userSetting.qr_code_foreground_color"
      [elementType]="'canvas'"
      [errorCorrectionLevel]="'H'"
      [imageSrc]="
        userSetting.qr_code_show_logo && userSetting.qr_code_logo_url
        ? userSetting.qr_code_logo_url
        : !userSetting.qr_code_show_logo
          ? ''
          :'./assets/images/grassway-logo.png'"
      [imageHeight]="50"
      [imageWidth]="50"
      [width]="200"
    ></qrcode>
  </div>
  <h6 class="text-primary flex items-center gap-2 text-lg font-semibold break-all cursor-default">
    <small class="animate-pulse">{{ link.is_active ? '🟢' : '🔴' }}</small>
    {{ link.title }}
    <i
      *ngIf="link.description"
      class="icon-info hover:text-gray-600 text-gray-400 cursor-pointer"
      [matTooltip]="link.description"
      matTooltipPosition="above"
    ></i>
    <i
      *ngIf="link.use_password"
      class="icon-key text-yellow-600 rotate-45"
      matTooltip="Private link"
      matTooltipPosition="above"
    ></i>
  </h6>
  <a
    class="text-secondary font-semibold break-all"
    [routerLink]="'/l/' + (link.custom_back_half || link.back_half)"
  >
    {{ link.client + (link.custom_back_half || link.back_half) }}
  </a>
  <a
    class="text-sm text-gray-500 break-all"
    [href]="link.origin_url"
  >
    {{ link.origin_url }}
  </a>
  <button
    type="button"
    class="bg-secondary hover:bg-secondary/80 hover:shadow block px-3 py-2 text-white rounded-md"
    (click)="saveQRImage(qrcode)"
  >
    Download QR
  </button>
</div>
