<div class="my-4 space-y-4">
  <div class="space-y-1">
    <h1 class="text-poetsen-one text-3xl">Settings</h1>
    <p class="italic text-gray-500">Edit your account settings</p>
  </div>

  <form class="bg-slate-100 border-slate-200 p-4 space-y-4 border rounded-md shadow" [formGroup]="settingsForm">
    <h6 class="text-rubik list-item ml-4 font-semibold select-none">QR-Code Settings</h6>

    <div class="sm:flex-row flex flex-col gap-4">
      <div class="md:w-1/3 sm:w-1/2 flex items-center justify-center w-full">
        <qrcode
          #qrcode
          class="border-2 shadow-md"
          [qrdata]="'https://grassway.io'"
          [alt]="'Example QR code'"
          [colorDark]="settingsForm.controls.backgroundColor.value || '#000000'"
          [colorLight]="settingsForm.controls.foregroundColor.value || '#ffffff'"
          [elementType]="'canvas'"
          [errorCorrectionLevel]="'H'"
          [imageSrc]="settingsForm.get('showLogo')?.value ? logoUrl : ''"
          [imageHeight]="50"
          [imageWidth]="50"
          [width]="200"
        ></qrcode>
      </div>

      <div class="flex-grow space-y-3">
        <div class="sm:flex-row sm:items-center flex flex-col gap-2">
          <label class="text-gray-500" for="">Background Color:</label>
          <app-input-color-picker
            [control]="settingsForm.controls.backgroundColor"
          ></app-input-color-picker>
        </div>

        <div class="sm:flex-row sm:items-center flex flex-col gap-2">
          <label class="text-gray-500" for="">Foreground Color:</label>
          <app-input-color-picker
            [control]="settingsForm.controls.foregroundColor"
          ></app-input-color-picker>
        </div>

        <div class="flex items-center gap-2">
          <label class="text-gray-500" for="">Show logo:</label>
          <mat-slide-toggle formControlName="showLogo" class="text-gray-600">
            {{ settingsForm.get("showLogo")?.value ? "Enabled" : "Disabled" }}
          </mat-slide-toggle>
        </div>

        <div class="flex flex-col gap-2">
          <label class="text-gray-500" for="">Logo:</label>
          <div class=" w-28 max-w-28 min-w-28 relative inline-flex mb-4 cursor-pointer">
            <img
              class="aspect-square w-auto h-full border-2 border-gray-300 rounded-md"
              [src]="logoUrl"
              alt="Personal logo"
              width="100"
              height="100"
              loading="eager"
              draggable="false"
            >
            <input
              #logoInput
              class="absolute top-0 bottom-0 left-0 right-0 opacity-0 cursor-pointer"
              (change)="onLogoChange($event)"
              type="file"
              title=""
              accept="image/*"
            >
            <button
              class="hover:shadow hover:text-black -bottom-4 -right-4 absolute px-2 py-1 text-gray-600 bg-white border-2 rounded-full"
              type="button"
              matTooltip="Change logo"
              matTooltipPosition="right"
              (click)="openSelectLogo()"
            >
              <i class="icon-camera text-2xl"></i>
            </button>
          </div>


        </div>

        <div class="lg:text-start text-center">
          <button class="px-4 py-2.5 bg-secondary text-white rounded-md shadow border hover:bg-secondary/80 hover:shadow-md" type="submit">
            Update settings
          </button>
        </div>
      </div>
    </div>

  </form>
</div>
