<div
  *ngIf="fetchedBuild; else loading"
  class="py-4 space-y-4 break-all"
>
  <button
    class="bg-secondary hover:bg-secondary/80 flex items-center gap-2 px-3 py-2 text-white rounded shadow"
    type="button"
    (click)="openCreateBlockDialog()"
  >
    <i class="icon-add"></i>
    Add
  </button>

  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListDisabled]="isProcessing"
    class="space-y-4"
  >
    <ng-container *ngFor="let block of blocks" [ngSwitch]="block.type">
      <app-button-block
        cdkDrag
        *ngSwitchCase="'button'"
        [block]="block"
        (deleted)="onDeletedBlock($event)"
      >
        <i
          cdkDragHandle
          class="icon-drag text-xl"
          [ngClass]="{
            'text-gray-300': isProcessing,
            'text-gray-600 cursor-pointer': !isProcessing
          }"
        ></i>
      </app-button-block>

      <app-image-block
        cdkDrag
        *ngSwitchCase="'image'"
        [block]="block"
        (deleted)="onDeletedBlock($event)"
      >
        <i
          cdkDragHandle
          class="icon-drag text-xl"
          [ngClass]="{
            'text-gray-300': isProcessing,
            'text-gray-600 cursor-pointer': !isProcessing
          }"
        ></i>
      </app-image-block>

      <app-youtube-block
        cdkDrag
        *ngSwitchCase="'youtube'"
        [block]="block"
        (deleted)="onDeletedBlock($event)"
      >
        <i
          cdkDragHandle
          class="icon-drag text-xl"
          [ngClass]="{
            'text-gray-300': isProcessing,
            'text-gray-600 cursor-pointer': !isProcessing
          }"
        ></i>
      </app-youtube-block>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <app-loading-tab [description]="'Loading brand build...'"></app-loading-tab>
</ng-template>
