<div class="space-y-3">
  <h5 class="text-karla text-xl font-bold">Blocks</h5>

  <div class="space-y-2">
    <h6 class="text-karla list-item ml-4 text-lg font-semibold text-blue-700">Shape</h6>
    <div class="space-y-2">
      <div class="w-fit grid items-center grid-cols-3 gap-4">
        <ng-container *ngFor="let shape of getObjectValues(BlockShape); let i = index">
          <button
            class="bg-slate-400 w-48 h-10"
            [ngClass]="{
              'hover:outline hover:outline-blue-500': blockShapeControl.value !== shape,
              'outline outline-blue-500': blockShapeControl.value === shape,
              'rounded-full': shape === BlockShape.PILL_NO_BORDER || shape === BlockShape.PILL_BORDER,
              'rounded-lg': shape === BlockShape.ROUNDED_NO_BORDER || shape === BlockShape.ROUNDED_BORDER,
              'border-2 border-black':
                shape === BlockShape.PILL_BORDER
                || shape === BlockShape.ROUNDED_BORDER
                || shape === BlockShape.NO_ROUNDED_BORDER,
            }"
            type="button"
            (click)="blockShapeControl.patchValue(shape)"
          ></button>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="space-y-2">
    <h6 class="text-karla list-item ml-4 text-lg font-semibold text-blue-700">Shadow</h6>
    <div class="flex gap-4">
      <button
        *ngFor="let shadow of getObjectValues(BlockShadow)"
        class="bg-slate-400 w-48 h-12 rounded-lg"
        [ngClass]="{
          'hover:outline hover:outline-blue-500': blockShadowControl.value !== shadow,
          'outline outline-blue-500': blockShadowControl.value === shadow,
          'shadow': shadow === BlockShadow.SHADOW,
          'shadow-2xl': shadow === BlockShadow.HEAVY_SHADOW
        }"
        type="button"
        (click)="blockShadowControl.patchValue(shadow)"
      ></button>
    </div>
  </div>

  <div class="space-y-2">
    <h6 class="text-karla list-item ml-4 text-lg font-semibold text-blue-700">Color</h6>
    <div class="flex flex-wrap gap-4">
      <div>
        <span class="text-gray-500">Block color:</span>
        <app-input-color-picker [control]="blockColorControl"></app-input-color-picker>
      </div>

      <div>
        <span class="text-gray-500">Text color:</span>
        <app-input-color-picker [control]="blockTextColorControl"></app-input-color-picker>
      </div>
    </div>
  </div>
</div>
