<form
  [formGroup]="form"
  class="md:w-2/3 xl:w-1/2 w-full mx-auto my-4 space-y-2"
  (submit)="onSubmit()"
>
  <h4 class="text-poetsen-one dark:text-white text-3xl">Shorten new link</h4>

  <div class="flex flex-col gap-2">
    <label class="dark:text-gray-300 font-semibold text-gray-600" for="originUrl">Destination</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        id="originUrl"
        formControlName="originUrl"
        matInput
        placeholder="https://example.com/long-url"
        type="text"
      >
      <mat-error
        class="text-jost text-sm"
        *ngFor="let error of getObjectKeys(form.get('originUrl')?.errors)"
      >
        {{ originUrlValidationMessages[error] }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-col gap-2">
    <label class="dark:text-gray-300 font-semibold text-gray-600" for="title">Title</label>
    <mat-form-field appearance="outline" color="accent">
      <input
        id="title"
        formControlName="title"
        matInput
        placeholder="Set title for shortened link"
        type="text"
      >
    </mat-form-field>
  </div>


  <div class="flex flex-col gap-2">
    <label class="dark:text-gray-300 font-semibold text-gray-600" for="description">Description</label>
    <mat-form-field
      class="w-full"
      appearance="outline"
      color="accent"
    >
      <textarea
        id="description"
        formArrayName="description"
        matInput
        placeholder="Set description for shortened link"
        rows="2"
      ></textarea>
    </mat-form-field>
  </div>

  <h6 class="text-poetsen-one list-item dark:text-white ml-4 text-lg">Custom your link</h6>
  <div class="sm:flex-row flex flex-col gap-4">
    <div class="sm:w-1/2 flex flex-col gap-2">
      <label class="dark:text-gray-300 font-semibold text-gray-600" for="backHalf">Custom back-half</label>
      <mat-form-field appearance="outline" color="accent">
        <input
          id="backHalf"
          formControlName="customBackHalf"
          matInput
          placeholder="Set a custom back-half"
          type="text"
        >
        <mat-error
          class="text-jost text-sm"
          *ngFor="let error of getObjectKeys(form.get('customBackHalf')?.errors)"
        >
          {{ customBackHalfValidationMessages[error] }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="sm:w-1/2 flex flex-col gap-2">
      <label class="dark:text-gray-300 font-semibold text-gray-600" for="password">Set password</label>
      <mat-form-field appearance="outline" color="accent">
        <input
          id="password"
          formControlName="password"
          matInput
          [type]="hidePassword ? 'password' : 'text'"
        >
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
          type="button"
        >
          <mat-icon class="text-lg">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="gap-x-4 gap-y-2 flex flex-wrap items-center justify-end">
    <p *ngIf="formError" class="text-rose-500 w-full font-semibold text-center">{{ formError }}</p>
    <a class="dark:text-gray-300 text-gray-600" routerLink="/u/links">Cancel</a>
    <button
      class="bg-secondary text-white hover:bg-secondary/80 text-center py-2.5 px-4 rounded-md shadow-md disabled:bg-gray-400 flex items-center justify-center gap-2"
      type="submit"
      [class]="{'disabled:bg-sky-400': isProcessing}"
      [disabled]="!form.valid || isProcessing"
    >
      <i *ngIf="isProcessing" class="icon-spinner spinning"></i>
      {{ isProcessing ? "Processing..." : "Create" }}
    </button>
  </div>
</form>
